body {
    background-color: black;
    margin: 0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
}
.wrapper {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
    border: red 2px solid;
}
  
/* logo and menu */
.header .aboutMe {
    display: flex;
    justify-content: center;
}
.nav-item{
    margin: 40px;
}
.collapse{
    display: flex;
    justify-content: space-around;
    font-family: 'Play', sans-serif;
    font-size: 35px;
}
.colorGold {
    color: #ffc107;
    text-decoration: none;
}
.gold {
    margin-top: 40px;
    border: #ffc107 2px solid;
    padding: 10px;
    border-radius: 70px;
    text-align: center;
}
.colorGold:hover {
    color: white;
}
  
/* About me */

/* #certificate, #resume{
    position: absolute;
    font-size: 25px;
    color: goldenrod;
    text-decoration: none;
  } */
.boxBig{
    /* bottom: 20px; */
    border-radius: 20px;
    /* background-color: white; */
  } 
#aboutMe{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* margin-left: 25%; */
    padding: 20px;
    color: white;
    font-family: 'Play', sans-serif;
}
  .box{
    display: flex;
    flex-direction: row;
    padding: 12px;    
    }
    .boxSm{
        font-family: 'Play', sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;   
    }
    .text{
        max-width: 1000px;
        font-family: 'Play', sans-serif;
      font-size: 25px;
      line-height: 1.5;
      color: white;
    }
    #certificate, #resume{
        font-size: 25px;
        color: rgb(249, 248, 248);
        text-decoration: none;
    }
    #certificate:hover, #resume:hover{
        color: gold;
    }
    #container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .iAm {
        margin-right: 100px;
    }
    #iAm{
        /* margin-left: 25px; */
        border-radius: 15%;
        border: black solid 2px ;
        box-shadow: 3px 3px 3px rgba(255, 217, 0, 0.774) ;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .text div {
      display: inline-block;
    }
    
    
  
  