@media all and (max-width: 480px) {
    
}

@media all and (max-width: 1279px) {
    .wrapper {
        overflow: hidden;
        width: 1220px;
    }
}

@media all and (max-width: 1023px) {
.wrapper {
    width: 970px;
    }
.navbar-collapse {
    font-size: 28px;
}
.border-button {
    margin-left: 160px;
}
}

@media all and (max-width: 767px) {
.wrapper {
    width: 700px;
    overflow: hidden;
    }
.iAm {
    height: 240px;
}
.box {
    justify-content: center;
}
.icons {
    flex-wrap: wrap;
}
form {
    width: 550px;
    margin-left: 35px;
}
.btn {
    margin-left: 378px;
}
.border-button {
    margin-left: 20px;
}
#logo {
    margin-top: 12px;
}
#connection {
    margin-left: 15px;
}
}

@media all and (max-width: 480px) {
    
}